<h1 style="font-family: sans-serif;">Answer</h1>

<h2 style="font-family: sans-serif;">Your question:</h2>
<p style="font-family: sans-serif;"> - <%= @question %></p>


<h2 style="font-family: sans-serif;">Your coach:</h2>
<p style="font-family: sans-serif;"> - <%= @answer %></p>

<p style="font-family: sans-serif;text-decoration: none;"><%= link_to "Go back to Questions", ask_path %></p>
