<h1 style="font-family: sans-serif;">Stupid Coach</h1>
<form action="/answer" method="get" style="font-family: sans-serif;">
  <input type="text" name="question" placeholder="Ask your coach...">
  <input type="submit" value="Ask!">
</form>
